@font-face {
    font-family: et-line;
    src: url(../fonts/et-line.woff),
         url(../fonts/et-line.svg#et-line);
}

.et-icon-browser,
.et-icon-edit,
.et-icon-presentation
 {
    font-family: et-line;
    line-height: 1;
    display: inline-block
}

.et-icon-browser:before {
    content: "\e00c"
}

.et-icon-edit:before {
    content: "\e01c"
}

.et-icon-presentation:before {
    content: "\e00e"
}